body {
    /*Height and width go by percent*/
    height: 100vh;
    width: 100vw;
    background-color: rgb(22, 2, 36);
    /*No scroll bars with next 2 liness*/
    margin: 0rem;
    overflow: hidden
}
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    /*Aspect ratio*/
    object-fit: cover;
    /*First controls how far left, second controls how far up*/
    object-position: 100% 50%;
}
#image-track {
    /*flexible to window size*/
    display: flex;
    /*Space between photos*/
    gap: 4vmin;
    /*Absolute allows us to change left and top positions*/
    position: absolute;
    left: 50%;
    top: 50%;
    /*first var is "track percent", so -50% would move pictures to the left; second is height of track*/
    transform: translate(0%, -50%);
}
.expanded-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expanded-image img {
    max-width: 90%;
    max-height: 90%;
  }
  